<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to the Spend Control Information</p>
  </div>
  
    <mat-card>
      <mat-card-title></mat-card-title>
      <mat-card-content>
          <p>In this application we are going to Register new spend and view the details of the registered spends.</p>
          <p>Click on 'Register' to add/create a new Spend. Click on 'Spends' to get the list of available Spends.</p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button color="primary" routerLink="/spend/create">Register</button>
          <button mat-raised-button color="primary" routerLink="/spend/spends">Spends</button>
      </mat-card-actions>
    </mat-card>
    
</section>
